* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* HERO SECTION */

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(/img/yoimiya.png);
    background-size: cover;
    background-position-x: 50%;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 2em;
    height: 10vh;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

.menu_items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
}

.menu_item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.menu_item a:hover {
    color: #f9004d;
    transition: .4s;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding-left: 5em;
}

.content h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

.content h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.content h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

/*MENÚ HAMBURGUESA*/
#burger_menu {
    display: none;
}

.burger-line {
    border-radius: 15px;
    height: 4px;
    width: 2.6em;
    display: block;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    margin-top: 10px;
    margin-left: 1rem;
}

.burger-line:nth-of-type(1) {
    margin-top: 0;
}

.primera {
    transform: translateY(9px) rotate(45deg);
    transition: all 0.4s;
}

.segunda {
    opacity: 0;
    transition: all 0s;
}

.tercera {
    transform: translateY(-20px) rotate(-45deg);
    transition: all 0.4s;
}

/*Esta clase permite mostrar/ocultar la lista del menú en móvil al hacer clic sobre el icono correspondiente.*/
ul.show {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Esta clase se añadirá al body para evitar que el usuario pueda hacer scroll cuando se abra el menú.*/
.overflow-menu {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/*SOBRE MI*/

.about {
    width: 100%;
    height: 100vh;
    background-color: #191919;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.main img {
    height: auto;
    width: 30em;
    object-fit: cover;
    border-radius: 10px;
}

.texto {
    width: 40em;
    margin-left: 3%;
}

.texto h2 {
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
}

.texto h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
}

.texto p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/*CONOCIMIENTOS*/

.conocimientos {
    background: #101010;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.title h2 {
    color: white;
    font-size: 72px;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    height: 26em;
    width: 22em;
    padding: 20px 35px;
    background: #191919;
    border-radius: 15px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #f9004d;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}

.cardtext p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

/*Tarjeta Interior*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap");

.tarjetas {
    display: flex;
    overflow: hidden;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.tarjetaInt {
    height: 500px;
    width: 150px;
    background-size: cover;
    background-position-x: center;
    background-color: #0000;
    transition: all 0.5s ease-in-out;
    border-radius: .62rem;

}

.active {
    transition: all 0.5s ease-in-out;
    height: 500px;
    width: 40%;
    opacity: 1;
}

.icon_container {
    width: 50px;
    transition: all 0.5s ease-in-out;
    align-self: flex-end;
}

.icon {
    stroke: white;
    opacity: 1;
}

.info_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;

}

.info_container:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.active .info_container {
    background-image: linear-gradient(90deg, rgab(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
}

.info {
    display: none;
    opacity: 0;
    transition: all 2 ease-in-out;
    padding: 10px 15px;

}

.active .info {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    align-self: flex-end;
    padding-bottom: 20px;
}

.active .icon_container {
    width: 60px;
    transition: all 0.5s ease-in-out;
    padding-bottom: 20px;
}

.mainText a {
    font-size: 40px;
    font-weight: 600;
    color: #f9004d;
    text-decoration: none;
}

.sub {
    font-size: 25px;
    font-weight: 200;
    color: white;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #191919;
    min-height: 100vh;
}

.portfolio h2 {
    color: white;
    font-size: 75px;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 400px;
    background:#101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

/* RESPONSIVE MÓVIL*/
@media screen and (min-width: 343px) and (max-width: 799px) {

    .logo {
        font-size: 40px;
    }

    .menu_items {
        position: fixed;
        top: -110vh;
        transition: all .2s;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        text-align: center;
        z-index: 10;
        font-weight: bold;
    }

    .menu_item a {
        font-size: 22px;
    }

    #burger_menu {
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 11;
        padding-right: .5em;
    }

    .btn {
        display: none;
    }

    .hero {
        background-position-x: 50%;
    }

    nav {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1em;
    }

    .content {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .content h1 {
        color: white;
        margin: 0;
        font-size: 60px;
        padding-left: 25%;
        padding-right: 25%;
    }

    .content h3 {
        margin-top: .3em;
        align-self: flex-end;
        padding-right: 8%;
        ;
    }

    .content h4 {
        margin-bottom: 1em;
        align-self: flex-start;
        padding-left: 15%;
    }

    /*SOBRE MI*/

    .main {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .main img {
        height: 50%;
        width: 100%;
    }

    .texto {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .texto h2 {
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
    }

    /*CONOCIMIENTOS*/
    .conocimientos {
        height: auto;
    }

    .title h2 {
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .box {
        flex-direction: column;
        height: auto;
        margin-bottom: 40px;
    }

    .card {
        width: 90%;
    }

    /*TARJETAS*/

    .portfolio {
        height: auto;
        padding-top: 40px;
    }

    .portfolio h2 {
        width: 80%;
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

    .tarjetas {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .tarjetaInt {
        height: 180px;
        width: 90%;
        background-position-y: 100%;
    }

    .active {
        height: 400px;
        width: 90%;
    }

    .active .icon_container {
        padding-bottom: 12px;
        padding-left: 10px;
    }

    .mainText a {
        text-align: center;
        font-size: 30px;
    }

    .mainText {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .sub {
        text-align: center;
    }

    /*FOOTER*/

    footer{
        height: 320px;
    }

    footer p:nth-child(1){
        width: 90%;
        text-align: center;
    }

    footer p:nth-child(2){
        width: 90%;
    }

}

/*RESPONSIVE TABLET*/
@media only screen and (min-width:800px) and (max-width: 1280px) {

    .logo {
        font-size: 50px;
    }

    .menu_items {
        position: fixed;
        top: -110vh;
        transition: all .2s;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        text-align: center;
        z-index: 10;
        font-weight: bold;
    }

    .menu_item a {
        font-size: 25px;
    }

    #burger_menu {
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 11;
        padding-right: .5em;
    }

    .btn {
        display: none;
    }

    .hero {
        background-position-x: 50%;
    }

    nav {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1em;
    }

    .content {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .content h1 {
        color: white;
        margin: 0;
        font-size: 60px;
        padding-left: 20%;
        padding-right: 25%;
    }

    .content h3 {
        margin-top: .3em;
        align-self: flex-end;
        padding-right: 15%;
        ;
        font-size: 30px;
    }

    .content h4 {
        margin-bottom: 1em;
        align-self: flex-start;
        padding-left: 15%;
        font-size: 25px;
    }

    /*SOBRE MI*/

    .main {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100vh;
    }

    .main img {
        height: 70%;
        width: 90%;
    }

    .texto {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .texto h2 {
        font-size: 60px;
        margin-top: 20px;
        text-align: center;
    }

    .texto h5 {
        font-size: 30px;
    }

    .texto p {
        font-size: 20px;
    }

    /*CONOCIMIENTOS*/
    .conocimientos {
        height: 100vh;
    }

    .title h2 {
        font-size: 60px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .box {
        flex-direction: row;
        height: auto;
        margin-bottom: 40px;
        width: 100%;
    }

    .card {
        width: 45%;
    }

    .cardtext p {
        font-size: 18px;
    }

    /*TARJETAS*/

    .portfolio {
        height: auto;
        padding-top: 40px;
    }

    .portfolio h2 {
        width: 90%;
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

    .tarjetas {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .tarjetaInt {
        height: 400px;
        width: 45%;
        background-position-y: 100%;
    }

    .active {
        height: 400px;
        width: 90%;
    }

    .active .icon_container {
        padding-bottom: 12px;
        padding-left: 10px;
    }

    .mainText a {
        text-align: center;
        font-size: 30px;
    }

    .mainText {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .sub {
        text-align: center;
    }

    /*FOOTER*/

    footer{
        height: 320px;
    }

    footer p:nth-child(1){
        width: 90%;
        text-align: center;
    }

    footer p:nth-child(2){
        width: 90%;
        font-size: 20px;
    }

}