* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* HERO SECTION */

.hero{
    height: 100vh;
    width: 100%;
    background:#101010;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 2em;
    height: 10vh;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

.menu_items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
}

.menu_item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.menu_item a:hover {
    color: #f9004d;
    transition: .4s;
}

/*MENÚ HAMBURGUESA*/
#burger_menu {
    display: none;
}

.burger-line {
    border-radius: 15px;
    height: 3px;
    width: 2.6em;
    display: block;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    margin-top: 10px;
    margin-left: 1rem;
}

.burger-line:nth-of-type(1) {
    margin-top: 0;
}

.primera {
    transform: translateY(7px) rotate(45deg);
    transition: all 0.4s;
}

.segunda {
    opacity: 0;
    transition: all 0s;
}

.tercera {
    transform: translateY(-20px) rotate(-45deg);
    transition: all 0.4s;
}

/*Esta clase permite mostrar/ocultar la lista del menú en móvil al hacer clic sobre el icono correspondiente.*/
ul.show {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Esta clase se añadirá al body para evitar que el usuario pueda hacer scroll cuando se abra el menú.*/
.overflow-menu {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* CONTENT 1 */
.content {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90vh;
}

.imagen1{
    width: 45%;
}

.imagen2{
    width:45%;
}

.texto1{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto1 h2{
    color:#f9004d;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;;
}

.texto1 p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
}

/* CONTENT 2*/
.content2 {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #191919;
}

.content3{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #101010;
}

video{
    width: 100%;
    border-radius: 15px;
    filter:drop-shadow(1px 1px 5px white);
}

/*FOOTER*/

footer{
    width: 100%;
    height: 400px;
    background:#191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

/* RESPONSIVE MÓVIL*/
@media screen and (min-width: 343px) and (max-width: 799px) {

    .hero{
        height: auto;
    }

    .logo {
        font-size: 30px;
    }

    .menu_items {
        position: fixed;
        top: -110vh;
        transition: all .2s;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        text-align: center;
        z-index: 10;
        font-weight: bold;
    }

    .menu_item a {
        font-size: 22px;
    }

    #burger_menu {
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 11;
        padding-right: .5em;
    }

    nav {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1em;
    }

    /* CONTENT 1 */
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 20px;
    }

    .imagen1{
        width: 100%;
    }

    .imagen1 img{
        width: 100%;
        scale: 1.2;
    }

    .texto1{
        width: 90%;
        text-align: center;
    }

    .texto1 h2{
        margin-top: 20px;
        font-size: 30px;
    }

    .texto1 p{
        font-size: 16px;
        width:100%;
        padding-bottom: 20px;
    }

    /* CONTENT 2*/
    .content2 {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: space-around;
    }

    .content3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: #101010;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    video{
        width: 90%;
        border-radius: 15px;
        filter:drop-shadow(1px 1px 5px white);
    }

    .imagen2{
        display: flex;  
        justify-content: center;
    }

    /*FOOTER*/

    footer{
        height: 320px;
    }

    footer p:nth-child(1){
        width: 90%;
        text-align: center;
    }

    footer p:nth-child(2){
        width: 90%;
    }
}

/* RESPONSIVE MÓVIL*/
@media only screen and (min-width:800px) and (max-width: 1280px) {

    .hero{
        height: auto;
    }

    .logo {
        font-size: 30px;
    }

    .menu_items {
        position: fixed;
        top: -110vh;
        transition: all .2s;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        text-align: center;
        z-index: 10;
        font-weight: bold;
    }

    .menu_item a {
        font-size: 22px;
    }

    #burger_menu {
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 11;
        padding-right: .5em;
    }

    nav {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1em;
    }

    /* CONTENT 1 */
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 20px;
    }

    .imagen1{
        width: 100%;
    }

    .imagen1 img{
        width: 100%;
        scale: 1.2;
    }

    .texto1{
        width: 90%;
        text-align: center;
    }

    .texto1 h2{
        margin-top: 20px;
        font-size: 40px;
        padding-top: 10px;
    }

    .texto1 p{
        font-size: 22px;
        width:100%;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    /* CONTENT 2*/
    .content2 {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: space-around;
    }

    .content3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: #101010;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    video{
        width: 90%;
        border-radius: 15px;
        filter:drop-shadow(1px 1px 5px white);
    }

    .imagen2{
        display: flex;  
        justify-content: center;
    }

    /*FOOTER*/

    footer{
        height: 320px;
    }

    footer p:nth-child(1){
        width: 90%;
        text-align: center;
    }

    footer p:nth-child(2){
        width: 90%;
    }
}
