* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 40%;
    height: 40%;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.container h1{
    font-size: 40px;
    color: #f9004d;
    margin-bottom: 20px;
}

.container p{
    width: 90%;
    text-align: center;
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:link{
    text-decoration: none;
    color: white;
}

/*LENGUAJE TEST*/

.language{
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}

.language-selected{
    display: flex;
    align-items: center;
    color: var(--principal);
    cursor: pointer;
}

.language-selected:before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("https://flagicons.lipis.dev/flags/4x3/gb.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.language ul{
    position: absolute;
    width: 140px;
    background-color: #101010;
    padding-top: 10px;
    display: none;
}

.language:hover ul{
    display: block;
}

.language ul li{
    list-style: none;
}

.language ul li p{
    display: block;
    color: var(--principal);
    padding-top: 5px 10px;
    cursor: pointer;
}

.language ul li:hover{
    background-color: #191919;
}

.language ul li p:before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}


p.es:before{
    background-image: url("https://flagicons.lipis.dev/flags/4x3/es.svg");
}

p.en:before{
    background-image: url("https://flagicons.lipis.dev/flags/4x3/gb.svg");
}

/*JQUERY*/
.language-selected.change-en:before{
    background-image: url("https://flagicons.lipis.dev/flags/4x3/gb.svg");
}

.language-selected.change-es:before{
    background-image: url("https://flagicons.lipis.dev/flags/4x3/es.svg");
}

/* RESPONSIVE MÓVIL*/
@media screen and (min-width: 343px) and (max-width: 799px){

    .container{
        width: 90%;
        height: 50%;
    }
    
    .container h1{
        font-size: 30px;
        width: 80%;
        text-align: center;
    }
    
    .container p{
        width: 80%;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

/*RESPONSIVE TABLET*/
@media only screen and (min-width:800px) and (max-width: 1280px){

    .container{
        width: 70%;
        height: 50%;
    }
    
    .container h1{
        font-size: 40px;
        width: 80%;
        text-align: center;
    }
    
    .container p{
        width: 80%;
        font-size: 22px;
        margin-bottom: 20px;
    }

    a{
        font-size: 22px;
    }
}