* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 40%;
    height: 40%;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.container h1{
    font-size: 40px;
    color: #f9004d;
    margin-bottom: 20px;
}

.container p{
    width: 90%;
    text-align: center;
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: white;
}

/* RESPONSIVE MÓVIL*/
@media screen and (min-width: 343px) and (max-width: 799px){

    .container{
        width: 90%;
        height: 50%;
    }
    
    .container h1{
        font-size: 30px;
        width: 80%;
        text-align: center;
    }
    
    .container p{
        width: 80%;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

/*RESPONSIVE TABLET*/
@media only screen and (min-width:800px) and (max-width: 1280px){

    .container{
        width: 70%;
        height: 50%;
    }
    
    .container h1{
        font-size: 40px;
        width: 80%;
        text-align: center;
    }
    
    .container p{
        width: 80%;
        font-size: 22px;
        margin-bottom: 20px;
    }

    a{
        font-size: 22px;
    }
}